*/obj
*/bin
/.vs
/WebSearchDemo/lucene
/Masuit.LuceneEFCore.SearchEngine.sln.DotSettings.user
/Masuit.LuceneEFCore.SearchEngine/Masuit.LuceneEFCore.SearchEngine.xml
Masuit.LuceneEFCore.SearchEngine.Test
**/TestClass.cs
